canvas {
  box-shadow: 0px 1px 6px -1px rgba(68,68,68,1);
}

h1, h2 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px !important;
  margin-left: -3px;
  margin-bottom: 0px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: rgba(0,0,50,1);
}

h2 {
  font-size: 30px !important;
  margin-top: 50px !important;
}

h3 {
  color: rgba(0,0,50,1);
  margin-top: 40px !important;
}

#author {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  margin-top: 100px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  padding-top: 50px;
  border-top: 1px solid #555;
}

#content {
  width: 700px;
  margin: auto;
  padding-left: 10px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 150px;
}

#content > p {
  margin-left: 30px;
}

#btn-activate {
  width: 700px;
  margin-top: 10px;
  padding-left: 12px;
  box-shadow: 0px 1px 6px -1px rgba(68,68,68,1);
}

#btn-activate:active {
  box-shadow: 0px 1px 3px -1px rgba(68,68,68,1);
}

.data-note {
  background-color: rgba(0, 0, 255, 0.11);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.data-note:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px #888 inset;
}

#spectrum-axes {
  display: none;
  overflow: auto;
  width: 100%;
}

#spectrum-zoom-axes {
  display: none;
  overflow: auto;
  width: 100%;
}

.left-axis {
  float: left;
}

.right-axis {
  float: right;
}

#theremin-btn-container {
  text-align: center;
}

#scroll-btn-container {
  text-align: center;
}

.warn {
  font-style: italic;
}
